:root {
  --bg-color: #272347;
  --typewriterSpeed: 1.5s;
}

body {
  margin: 0;
  background-color: #272347;
  text-align: left;
}

h1, p, div{
  color: #c3abe2;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight:300;
}

p {
  display: block;
  width: 40%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

hr {
  border: solid;
  color: red;
  size: 30px;
}
.test {
  width: 250px;
  margin-left: 15em;
  margin-bottom: 2em;
}

.pfp{
  position: absolute;
  right: 650px;
}

.pfpimage{
  width: 20%;
  border-radius: 10px;
  margin-left: 80%;
  border: 2px solid #725fff;
}

.intro-header{
  /* padding-top: 5em; */
  text-align:center;
  margin-left: 15em;
}

.intro-title{
  display:flex;
  font-size: 52px;
  position: relative;
  line-height: 1.5;
  width: max-content;
  font-weight:600;
}

.mainName{
  display: flex;
  white-space: pre;
  /* margin-left: 15px;
  margin-right: 15px; */
  color:#725fff;
}

.intro-desc{
font-family: "roboto", sans-serif;
display: flex;
position: relative;
margin-left: 15em;
margin-bottom: 10em;
margin-top: 2em;
line-height: 1.5;
width: 40%;
}

.section-header{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5em 0 10em 15em;
}

.section-title:before {
  content:"";
  display: block;
  width: 280px;
  height: 1px;
  background: #725fff;
  position: absolute;
  left: 110%;
  top: 37px;
  opacity: .5;
}

.section-title{
  font-family: "roboto", sans-serif;
  position: absolute;
  top: 0;
  font-size: 40px;
  font-weight:600;
}

/* SKILL SECTION */

.skill-image {
  width:100px;
  border-radius: 10px;
  border: 2px solid #725fff;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 28px;
}

.skill-image:hover{
  background-color:#c3abe2;
}

.skill-set{
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* EXPERIENCE SECTION */
.tab-container {
  max-width: 950px;
  width: 100%;
  padding: 20px 50px 30px 0;
  margin: 0 20px;
}

.tab-content {
  display: flex;
  justify-content: space-between;
}

.tab-container .tab-content .tab-list{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  margin-right: 50px;
}

.tab-content .tab-list label{
  height: 50px;
  font-size: 16px;
  line-height: 60px;
  width:max-content;
  font-weight: 500;
  padding-left: 25px;
  cursor: pointer;
  z-index: 12;
  transition: all 0.3s ease;
}

#EWB:checked ~ .tab-list label,
#RBB:checked ~ .tab-list label{
  color: #c3abe2;
}


.tab-content .indicator{
  position: absolute;
  height: 60px;
  width: 120%;
  top: 0;
  left: 0;
  background: #725fff;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.tab-container input[type="radio"]{
    display: none;
}

#EWB:checked ~ .tab-list .EWB,
#RBB:checked ~ .tab-list .RBB{
  color: #c3abe2;
}

#EWB:checked ~ .tab-text .EWB,
#RBB:checked ~ .tab-text .RBB{
  display: block;
}

#EWB:checked ~ .tab-list .indicator{
  top: 0;
}

#RBB:checked ~ .tab-list .indicator{
  top: 60px;
}

.tab-content .tab-text{
  width: 80%;
  height: 100%;
}

.tab-content .tab-text p{
  text-align: justify;
}

.tab-content .tab-text .text{
  display: none;
}

.tab-content .tab-text .EWB{
  display: block;
}

#EWB:checked ~ .tab-text .EWB,
#RBB:checked ~ .tab-text .RBB{
  display: block;
}

#RBB:checked ~ .tab-text .EWB{
  display: none;
}

.tab-content .tab-text .text-title{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #725fff;
}

.job-title{
  color: #c3abe2;
}
/* ID */
#intro{
  display: flex;
  flex-direction: column;
  padding: 10em 0 20em 0;
}

.sidebar-nav{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  padding-right: 5%;
  bottom: 10%;
  background-color: transparent;
}

.sidebar-nav ul{
  list-style-type: none;
  font-weight: 400;
}

a {
  color: inherit;
}

/* ANIMATION */
.intro-title::before,
.intro-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.intro-title::before{
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(13) 0.5s forwards;
}

.intro-title::after{
  width: 0.125em;
  background: #725fff;
  animation:
    typewriter var(--typewriterSpeed) steps(13) 0.5s forwards,
    blink 750ms steps(13) infinite;

}

@keyframes typewriter {
  from{
    left: 0
  }
  to {
    left: 100%; }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
